.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f8f9fa;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  -webkit-app-region: no-drag;
  padding-top: 110px; /* Отступ для фиксированного заголовка */
}