.torrentListContainer {
  flex: 1;
  padding: 120px 20px 20px;
  background-color: var(--background-primary);
}

.torrentList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noTorrents {
  text-align: center;
  padding: 40px;
  color: var(--text-secondary);
  font-size: 16px;
  user-select: none;
}

.loadingContainer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.loadingText {
  color: var(--text-secondary);
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}