.torrentListContainer {
  flex: 1;
  padding: 120px 20px 20px; /* Возвращаем прежний отступ */
  background-color: var(--background-primary);
}

.torrentList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noTorrents {
  text-align: center;
  padding: 40px;
  color: var(--text-secondary);
  font-size: 16px;
  user-select: none;
}