.container {
  display: inline-block;
}

.languageButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageButtonDisabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdownItemDisabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.flagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}